# 14. Actividad del Módulo 1
# Caso del consumo de alcohol en estudiantes

## Instrucciones

1. La base de datos utilizada en esta actividad se deberá bajar desde la base de datos UCI.
2. Sigue los pasos que se te proponen

## Paso 1: Importar las librerías necesarias

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

## Paso 2: Importar la base de datos del siguiente enlace y asignarla a la variable 'df':

In [49]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"

df = pd.read_csv(url, sep= ',')

print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

## Paso 3: Para el propósito de este ejercicio, divide la base de datos desde la columna 'school' hasta la columna 'guardian':

In [50]:
df = df.loc[:, :'guardian']
print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian
0    course   mother
1    course   father
2     other   mother
3      home   mother
4      home   father
..      ...      ...
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

[395 rows x 12 columns]

## Paso 4: Crea una función lambda que cambie por mayúscula la primera letra de las cadenas:

In [52]:
cambiar_mayuscula = lambda cadena: cadena[0].upper() + cadena[1:]
for col in df.columns:
    if not np.issubdtype(df[col].dtype, np.number):
        df[col] = df[col].apply(lambda x: cambiar_mayuscula(x)) 

        
print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian
0    Course   Mother
1    Course   Father
2     Other   Mother
3      Home   Mother
4      Home   Father
..      ...      ...
390  Course    Other
391  Course   Mother
392  Course    Other
393  Course   Mother
394  Course   Father

[395 rows x 12 columns]

## Paso 5: Imprime los último 20 elementos de la base de datos

In [53]:
print(df.tail(20))

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
375     MS   F   18       R     GT3       T     1     1     Other     Other
376     MS   F   20       U     GT3       T     4     2    Health     Other
377     MS   F   18       R     LE3       T     4     4   Teacher  Services
378     MS   F   18       U     GT3       T     3     3     Other     Other
379     MS   F   17       R     GT3       T     3     1   At_home     Other
380     MS   M   18       U     GT3       T     4     4   Teacher   Teacher
381     MS   M   18       R     GT3       T     2     1     Other     Other
382     MS   M   17       U     GT3       T     2     3     Other  Services
383     MS   M   19       R     GT3       T     1     1     Other  Services
384     MS   M   18       R     GT3       T     4     2     Other     Other
385     MS   F   18       R     GT3       T     2     2   At_home     Other
386     MS   F   18       R     GT3       T     4     4   Teacher   At_home
387     MS   F   19       R     GT3       T     2     3  Services     Other
388     MS   F   18       U     LE3       T     3     1   Teacher  Services
389     MS   F   18       U     GT3       T     1     1     Other     Other
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

         reason guardian
375        Home   Mother
376      Course    Other
377      Course   Mother
378        Home   Mother
379  Reputation   Mother
380        Home   Father
381       Other   Mother
382        Home   Father
383       Other   Mother
384        Home   Father
385       Other   Mother
386  Reputation   Mother
387      Course   Mother
388      Course   Mother
389      Course   Mother
390      Course    Other
391      Course   Mother
392      Course    Other
393      Course   Mother
394      Course   Father

## Paso 6: Crea una función llamada 'majority' que regresa un valor booleano en una nueva columna llamada 'legal_drinker' (Considera que la mayoría de edad sea más que 17 años)

In [54]:
def majority(age):
    if age > 17:
        return True
    else:
        return False
    
df['legal_drinker'] = df['age'].apply(majority)

print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   At_home   Teacher
1       GP   F   17       U     GT3       T     1     1   At_home     Other
2       GP   F   15       U     LE3       T     1     1   At_home     Other
3       GP   F   15       U     GT3       T     4     2    Health  Services
4       GP   F   16       U     GT3       T     3     3     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian  legal_drinker
0    Course   Mother           True
1    Course   Father          False
2     Other   Mother          False
3      Home   Mother          False
4      Home   Father          False
..      ...      ...            ...
390  Course    Other           True
391  Course   Mother          False
392  Course    Other           True
393  Course   Mother           True
394  Course   Father           True

[395 rows x 13 columns]

## Paso 7: Multiplica cada número del dataset por 10

In [55]:
for col in df:
    if df[col].dtype == 'int64':
        df[col] = df[col] * 10

print(df)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F  180       U     GT3       A    40    40   At_home   Teacher
1       GP   F  170       U     GT3       T    10    10   At_home     Other
2       GP   F  150       U     LE3       T    10    10   At_home     Other
3       GP   F  150       U     GT3       T    40    20    Health  Services
4       GP   F  160       U     GT3       T    30    30     Other     Other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M  200       U     LE3       A    20    20  Services  Services
391     MS   M  170       U     LE3       T    30    10  Services  Services
392     MS   M  210       R     GT3       T    10    10     Other     Other
393     MS   M  180       R     LE3       T    30    20  Services     Other
394     MS   M  190       U     LE3       T    10    10     Other   At_home

     reason guardian  legal_drinker
0    Course   Mother           True
1    Course   Father          False
2     Other   Mother          False
3      Home   Mother          False
4      Home   Father          False
..      ...      ...            ...
390  Course    Other           True
391  Course   Mother          False
392  Course    Other           True
393  Course   Mother           True
394  Course   Father           True

[395 rows x 13 columns]