# NB 8 y 9. Manipulación de Dataframes (DF)

En este notebbok utilizaremos las librerías de numpy y pandas

In [3]:
#Importar librerías
import numpy as np
import pandas as pd

In [4]:
#Crear un dataframe ejecutando el siguiente código:

df = pd.DataFrame(np.array([[1,8,3], [5, 6, 7]]), index = ['a','b'], columns = list('123'))
print(df)

   1  2  3
a  1  8  3
b  5  6  7

## 8.1 Estadística de DF

## Suma por columnas o filas

- Para columnas utilizaremos el método:

        df.sum()
        
- Para filas utilizaremos el método:

        df.sum(axis = 1)
        
### 1. Realice la suma por columnas y por filas del dataframe

In [6]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.array([[1, 8, 3], [5, 6, 7]]),
                  index=['a', 'b'], columns=list('123'))

print(df.sum())

print(df.sum(axis=1))

1     6
2    14
3    10
dtype: int64
a    12
b    18
dtype: int64

## Valores mínimos y máximos por columnas o 

- Para columnas utilizaremos los métodos:

        df.min()
        df.max()

- Para filas utilizaremos los métodos:

        df.min(axis = 1)
        df.max(axis = 1)
        
### 2. Obtenga los valores máximos y mínimos por columnas y por filas del dataframe e imprima sus resultados

In [1]:
#Por columnas
import numpy as np
import pandas as pd
df = pd.DataFrame(np.array([[1, 8, 3], [5, 6, 7]]),
                  index=['a', 'b'], columns=list('123'))

print(df.min())
print(df.max())

1    1
2    6
3    3
dtype: int32
1    5
2    8
3    7
dtype: int32

In [2]:
#Por filas
import numpy as np
import pandas as pd
df = pd.DataFrame(np.array([[1, 8, 3], [5, 6, 7]]),
                  index=['a', 'b'], columns=list('123'))

print(df.min(axis = 1))

print(df.max(axis = 1))

a    1
b    5
dtype: int32
a    8
b    7
dtype: int32

## Descripción de un DF

En la descripción de un dataframe se obtienen valores estadísticos por columna: conteo, promedio, desviación estándar, valor mínimo, cuartiles, y valor máximo.

Se utiliza la sintaxis:

        df.describe()
        
### 3. Obtenga la descripción del dataframe

In [3]:
df.describe()

              1         2         3
count  2.000000  2.000000  2.000000
mean   3.000000  7.000000  5.000000
std    2.828427  1.414214  2.828427
min    1.000000  6.000000  3.000000
25%    2.000000  6.500000  4.000000
50%    3.000000  7.000000  5.000000
75%    4.000000  7.500000  6.000000
max    5.000000  8.000000  7.000000

## 8.2 Valores nulos - NaN

Los métodos más comunes para lidiar con valores nulos son los siguientes:

        - df.isnull()  #Devuelve valores booleanos para determinar en que ubicación tenemos valores nulos (True)
        - df.dropna()  #Elimina todos los registros donde aparezca por lo menos un valor nulo 
        - df.fillna(value)  #Rellena los valores nulos con el valor 'value' específico
 
### 4. Ejecute el siguiente código para crear un DF con datos nulos y realice prueba con los 3 métodos descritos e imprima los resultados.

In [4]:
#Crear un dataframe ejecutando el siguiente código:

lista_valores = [ [1, 2, 3], [4, np.nan, 5], [6, 7, np.nan]]
lista_indices = list('123')
lista_columnas = list('abc')
print(lista_valores)
print(lista_indices)
print(lista_columnas)

df = pd.DataFrame(lista_valores, index = lista_indices, columns = lista_columnas)
df

[[1, 2, 3], [4, nan, 5], [6, 7, nan]]
['1', '2', '3']
['a', 'b', 'c']

   a    b    c
1  1  2.0  3.0
2  4  NaN  5.0
3  6  7.0  NaN

In [5]:
print(df.isnull())
print(df.dropna())
print(df.fillna(5.0))

       a      b      c
1  False  False  False
2  False   True  False
3  False  False   True
   a    b    c
1  1  2.0  3.0
   a    b    c
1  1  2.0  3.0
2  4  5.0  5.0
3  6  7.0  5.0

## 5. EJERCICIO de DF

De la siguiente página de internet, obtener los datos que están representados en una tabla:

https://es.wikipedia.org/wiki/Anexo:Finales_de_la_Copa_Mundial_de_F%C3%BAtbol.

Guardar los datos como un dataframe y manipularlo de la siguiente forma:

1. Verificar que sus encabezados estén de la forma correcta
2. Borrar la última columna de 'Notas'
3. Borrar los registros que tengan datos nulos (NaN)

### 5.1 Obtener los datos:

Para obtener los datos utilice la siguiente instrucción, donde en la variable 'url' deberá guardar la dirección antes descrita.

        dataframe = pd.io.html.read_html(url)
        
Esta instrucción guarda los datos en una lista, donde en el elemento 0 se encuentra el dataframe, por lo tanto deberá obtener el dataframe de la localidad cero de la lista:

        df_futbol = dataframe[0]

In [2]:
import pandas as pd
import numpy as np

dataframe = pd.read_html('https://es.wikipedia.org/wiki/Anexo:Finales_de_la_Copa_Mundial_de_F%C3%BAtbol')

df_futbol = dataframe[0]

print(df_futbol.columns)

Index(['Fecha', 'Campeón', 'Resultado', 'Subcampeón', 'Estadio',
       'Espectadores', 'Localización', 'Notas'],
      dtype='object')

### 5.2 Borrar la última columna de 'Notas':

In [3]:
df_futbol = df_futbol.drop('Notas', axis=1)
print(df_futbol.columns)

Index(['Fecha', 'Campeón', 'Resultado', 'Subcampeón', 'Estadio',
       'Espectadores', 'Localización'],
      dtype='object')

### 5.3 Borrar los registros que tengan datos nulos (NaN):

In [4]:
df_futbol = df_futbol.dropna(axis=0)

print(df_futbol)

         Fecha           Campeón       Resultado        Subcampeón  \
0   30-07-1930           Uruguay             4:2         Argentina
1   10-06-1934            Italia       2:1 (pr.)    Checoslovaquia
2   19-06-1938            Italia             4:2           Hungría
3   16-07-1950           Uruguay             2:1            Brasil
4   04-07-1954  Alemania Federal             3:2           Hungría
5   29-06-1958            Brasil             5:2            Suecia
6   17-06-1962            Brasil             3:1    Checoslovaquia
7   30-07-1966        Inglaterra       4:2 (pr.)  Alemania Federal
8   21-06-1970            Brasil             4:1            Italia
9   07-07-1974  Alemania Federal             2:1      Países Bajos
10  25-06-1978         Argentina       3:1 (pr.)      Países Bajos
11  11-07-1982            Italia             3:1  Alemania Federal
12  29-06-1986         Argentina             3:2  Alemania Federal
13  08-07-1990  Alemania Federal             1:0         Argentina
14  17-07-1994            Brasil  0:0 (3:2 pen.)            Italia
15  12-07-1998           Francia             3:0            Brasil
16  30-06-2002            Brasil             2:0          Alemania
17  09-07-2006            Italia  1:1 (5:3 pen.)           Francia
18  11-07-2010            España       1:0 (pr.)      Países Bajos
19  13-07-2014          Alemania       1:0 (pr.)         Argentina
20  15-07-2018           Francia             4:2           Croacia
21  18-12-2022         Argentina  3:3 (4:2 pen.)           Francia

                              Estadio Espectadores       Localización
0                  Estadio Centenario       68 346         Montevideo
1            Estadio Nacional del PNF       50 000               Roma
2                     Stade Olympique       45 124           Colombes
3                    Estadio Maracaná      199 150     Río de Janeiro
4                     Wankdorfstadion       60 000              Berna
5                     Estadio Råsunda       51 800              Solna
6                    Estadio Nacional       68 679  Santiago de Chile
7                  Estadio de Wembley       97 924            Londres
8                      Estadio Azteca      107 412   Ciudad de México
9                    Estadio Olímpico       75 200             Múnich
10         Estadio Antonio V. Liberti       71 483       Buenos Aires
11          Estadio Santiago Bernabéu       90 000             Madrid
12                     Estadio Azteca      114 600   Ciudad de México
13                   Estadio Olímpico       73 603               Roma
14                  Estadio Rose Bowl       94 194           Pasadena
15                    Stade de France       80 000        Saint-Denis
16  Estadio Internacional de Yokohama       69 029           Yokohama
17                   Estadio Olímpico       69 000             Berlín
18                Estadio Soccer City       84 490      Johannesburgo
19                   Estadio Maracaná       74 738     Río de Janeiro
20          Estadio Olímpico Luzhnikí       78 011              Moscú
21          Estadio Icónico de Lusail       88 966             Lusail